body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.logo-span {
  color: #2e2f42;
}
/* navigation */
.menu {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:focus,
.menu-link:hover {
  color: #404bbf;
}
/* address */
.contacts {
  list-style: none;
}
.contacts-link {
  text-decoration: none;
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:focus,
.contacts-link:hover {
  color: #404bbf;
}
.contacts-wrapper {
  font-style: normal;
}
/* title */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:focus,
.button:hover {
  background-color: #404bbf;
}
/* features */

.features {
  list-style: none;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */
.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team {
  list-style: none;
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-profession {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */
.portfolio {
  list-style: none;
  background-color: #ffffff;
}
.portfolio-title {
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* }footer */
.footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-span-footer {
  color: #f4f4fd;
}
